<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        p.header{
            text-align: center;
            font-weight: bold;
            font-size: 22px;
        }
        a.verify-btn{
            text-decoration: none;
            padding: 10px 100px;
            background: rgb(96 144 2);
            color: white;
            border-radius: 5px;
            margin-bottom: 5px;
        }
    </style>
</head>
    <body>
        <p class = "header">Password Reset</p>
        <p>Hi, {{ username }}</p>
        <p>Seems like you forgot you password for PAC. If this is true, click below to reset your password.</p>
        <br>
        <div style = "text-align: center;">
            <a class = "verify-btn" href = "{{ link }}">Reset My Password</a>
        </div>
        <br>
        If you did not forgot your password you can safely ignore this email.
        <p>
            All the best,
        </p>
        <p>
            PAC
        </p>
    </body>
</html>